/* /* .new{
    background-color: pink;
    font-size: 50px;
    color: white;
}
.myclass{
    background-color: aqua;
    font-size: 50px;
} */

/* .newbtn{
    font-size: 20px;
    color:red;
} */ 